    <div class="g-row f-gallery">
    	
    	<div class="g-4 f-gallery-item">
    		<a href="#"><img alt="" src="/assets/kravtsova-241x300.jpg" />
     		<small>Кравцова Лариса Викторовна<br>врач-акушер-гинеколог</small></a>
    	</div><!-- f-gallery-item -->

    	<div class="g-4 f-gallery-item">
    		<a href="#"><img alt="" src="/assets/kulik-241x300.png" />
     		<small>Кулик Елена Николаевна<br>медицинская сестра</small></a>
    	</div><!-- f-gallery-item -->

    	<div class="g-4 f-gallery-item">
    		<a href="#"><img alt="" src="/assets/mazanova-241x300.png" />
     		<small>Мазанова Людмила Николаевна<br>врач педиатр, дерматовенеролог, косметолог</small></a>
        </div><!-- f-gallery-item -->

    </div><!-- f-gallery -->
    <div class="g-row f-gallery">

    	<div class="g-4 f-gallery-item">
    		<a href="#"><img alt="" src="/assets/purin-241x300.png" />
     		<small>Пурин Михаил Михайлович<br>врач невролог, рефлексотерапевт</small></a>
    	</div><!-- f-gallery-item -->

    	<div class="g-4 f-gallery-item">
    		<a href="#"><img alt="" src="/assets/stuzhuk-241x300.png" />
     		<small>Стружук Ольга Юрьевна<br>врач офтальмолог</small></a>
    	</div><!-- f-gallery-item -->

    	<div class="g-4 f-gallery-item">
    		<a href="#"><img alt="" src="/assets/tupitsina-241x300.png" />
     		<small>Тупицина Наталья Викторовна<br>врач функциональной диагностики высшей категории</small></a>
    	</div><!-- f-gallery-item -->
    </div><!-- f-gallery -->
    <div class="g-row f-gallery">

    	<div class="g-4 f-gallery-item">
    		<a href="#"><img alt="" src="/assets/sharipova-241x300.png" />
     		<small>Шарипова Людмила Азаловна<br>врач ультразвуковой диагностики</small></a>
    	</div><!-- f-gallery-item -->

    	<div class="g-4 f-gallery-item">
    		<a href="#"><img alt="" src="/assets/shubina-241x300.png" />
     		<small>Шубина Елена Николаевна<br>врач ультразвуковой диагностики</small></a>
    	</div><!-- f-gallery-item -->

    	<div class="g-4 f-gallery-item">
    		<a href="#"><img alt="" src="/assets/scheka-241x300.png" />
     		<small>Щека Владимир Иванович<br>врач оториноларинолог врач высшей категории</small></a>
    	</div><!-- f-gallery-item -->
    </div><!-- f-gallery -->

    	
    