 <h1>Справки</h1>

 	<ul>
    	<li>медицинскую справку для ГАИ (водительская комиссия);</li>
    	<li>медицинскую справку для управления маломерными судами;</li>
    	<li>медицинскую справку для поступления в учебные заведения по форме № 086;</li>
    	<li>медицинскую карту ребенка для поступления в сад и школу;</li>
	</ul>

