<h1> Услуги </h1>

<p>
    В медицинский центр могут обратиться как взрослые, так и дети с самыми разнообразными проблемами со здоровьем. Вы можете предварительно записаться на прием к врачу или вызвать специалиста на дом.
</p>
<p>
    В медицинском центре «Здоровье» процедурный кабинет, дневной стационар, осуществляется забор материала для лабораторных анализов. Квалифицированные медицинские сестры с многолетним стажем практической работы окружат Вас заботой и вниманием, профессионально выполнят все медицинские манипуляции.
</p>
<p>
    Можно пройти предрейсовый и послерейсовый осмотр водителей.
</p>
<p>
    В медицинском центре проводятся медицинские комиссии:
    <ul>
        <li>на право ношения и хранения оружия</li>
        <li>на право управления транспортным средством</li>
        <li>предварительный и периодический профосмотр</li>
     </ul
</p>
<p>
    Лечебная помощь оказывается по следующим направлениям:
    <ul>
        <li>Терапия</li>
        <li>Неврология</li>
        <li>Гинекология</li>
        <li>Дерматовенерология</li>
        <li>Глазные болезни</li>
        <li>Отоларингология</li>
        <li>Иглорефлексотерапия</li>
        <li>Урология</li>
        <li>Хирургия</li>
        <li>Педиатрия</li>
    </ul>
</p>
<p>
    В арсенале нашего центра – широкие возможности ультразвуковой и функциональной диагностики.
    Врачи медицинского центра проводят:
    <ul>
        <li>УЗИ сердца (эхокардиография) с цветным доплеровским картированием</li>
        <li>УЗИ сосудов головного мозга (транскраниальная допплерография)</li>
        <li>УЗИ сосудов нижних конечностей</li>
        <li>УЗИ сосудов верхних конечностей</li>
        <li>УЗИ магистральных сосудов шеи (брахиоцефальных сосудов)</li>
        <li>УЗИ органов брюшной полости – печени, желчного пузыря, поджелудочной железы, селезенки</li>
        <li>УЗИ органов забрюшинного пространства, почек, надпочечников.</li>
        <li>УЗИ щитовидной железы с цветным доплеровским картированием</li>
        <li>УЗИ молочных желез с регионарными лимфатическими узлами</li>
        <li>УЗИ поверхностно расположенных структур – образований кожи и подкожно-жировой клетчатки.</li>
        <li>УЗИ лимфатических узлов всех групп.</li>
        <li>УЗИ мочевого пузыря с определением остаточной мочи</li>
        <li>УЗИ предстательной железы</li>
        <li>УЗИ органов мошонки</li>
        <li>УЗИ брюшной аорты и ее ветвей, нижней полой вены и печеночных сосудов</li>
        <li>УЗИ плода в разные сроки беременности</li>
        <li>УЗИ органов малого таза (трансвагинальным и трансабдоминальным методами), определение раннего срока беременности.</li>
        <li>УЗИ суставов</li>
    </ul>
</p>
<p>
    Так же у нас в центре:
    <ul>
        <li>Регистрация и анализ ЭКГ (электрокардиография)</li>
        <li>Суточное мониторирование ЭКГ (ХОЛТЕР)</li>
    </ul>
</p>
<p>
    В «Здоровье» все предусмотрено для удобства посетителей- это и месторасположение, практически в центре поселка, удобная парковка, чистота и уют внутри помещения, вежливые и внимательные администраторы, быстрота и простота оформления на прием, возможность подождать в мягком кресле у телевизора.
</p>
<p>
    Хочется пожелать всем, у кого возникли проблемы со здоровьем, но не хватает свободного времени, приходите в мед.центр «Здоровье», здесь вам гарантированно и оперативно помогут! Берегите себя и своих близких! Цените жизнь- она так хрупка и быстротечна, и чтобы вполне оценить все ее прелести желательно быть здоровым физически и духовно!
</p>
<p>
    Многопрофильный центр «ЗДОРОВЬЕ» за годы работы заслужил высокую оценку пациентов. В нашем центре вас ждут высококвалифицированный медперсонал, опытные врачи высшей и первой категории, имеющие богатейший стаж практической работы.
</p>